@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
* {
    box-sizing: border-box;
}
/* Home page top side */
html {
    overflow-x: hidden;
}
.home-page {
    background-color: #fff;
    margin-top: 1%;
    width: 100vw;
    height: 100vh;
    font-size: 14px;
    color: #404040;
    font-family: 'Poppins', sans-serif;
    /* border-bottom: 2px solid #404040; */
}

.h-content {
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60%;
    margin-bottom: 0;
    padding-top: 7vw;
    padding-bottom: 7vw;
    padding-left: 10vw;
    border-bottom: 2px solid #404040;
}

.heading {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    font-size: 5rem;
    margin-right: 1vw;
    /* -webkit-text-stroke: 0.3vw #404040; */
}

.heading {
    position: relative;
    color: hsl(0, 0%, 0%);
    font-weight: bold;
    font-family: "Anonymous Pro", monospace;
    letter-spacing: 7px;
    display: inline-block;
    animation:move 4s;
    
}
.letter{
    translate: none;
    scale: none;
    transform: translate(0px, 0px);
    animation:cubic-bezier(1, 0, 0, 1)
}
.heading2 {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    overflow: hidden;
    color: #404040;
    letter-spacing: 7px;
    white-space: nowrap;
    font-weight: bold;
    font-family: "Anonymous Pro", monospace;
    border-right: 2px solid hsl(0, 0%, 4%);
    animation: typewriter 10s steps(100) 30ms 1 normal both,
    blinkTextCursor 400ms infinite;
    animation-delay: 3s;
}
/* project css */
.project-cont {
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid #404040;
}
.project {
    display: flex;
    flex-direction: row;
    flex-wrap: row wrap;
    height: 10vw;
}
.project-render h2{
    color: #404040;
    padding: 2rem;
    letter-spacing: 10px;
    /* padding-left: 3vw; */
}
.project-info {
    padding-top: 5vw;
    padding-left: 10vw;
    font-size: 3rem;
    letter-spacing: 6px;
    width: 40vw;
}
.project-render {
    height: 10vw;
}
.p-desc {
    display: flex;
    flex-wrap: row wrap;
    justify-content: center;
    align-items: center;
    width: 30vw;
    padding-left: 10vw;
    /* padding-bottom: 15vw; */
    padding-right: auto;
}
.flipr-img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem auto;
    margin: 1rem auto;
    margin-top: 2vw;
}
.flipr-img:hover {
    border: 1px solid #40404044;
    border-radius: 4%;
    cursor: pointer;
    box-shadow: 10px 10px 5px #888888;
}
.flipr-img{
    max-width: 768px;
    min-width: 768px;
}
/* project 2 */
.project-cont2 {
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid #404040;
    margin-left: 3vw;
}
.p-desc2 {
    display: flex;
    /* justify-content: flex-end; */
    text-align: end;
    flex-wrap: row wrap;
    width: 30vw;
    padding-left: 10vw;
}
.project-info2 {
    display: flex;
    text-align: end;
    padding-top: 5vw;
    padding-left: 2vw;
    font-size: 3rem;
    letter-spacing: 6px;
    width: 40vw;
}
.project-header2 {
    margin-left: 13vw;
}

/* Contact */
.contact-container {
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: flex-start;
    border-bottom: 2px solid #404040;
    font-size: 30px;
    letter-spacing: 2px;
    margin-left: 3vw;
}
/* animation */
@keyframes move {
    0% {
        transform: translatey(-11vmin);
        opacity: 0;
    }
    100% {
        transform: translatey( 0vmin);
        opacity: 1;
    }
  }

@keyframes typewriter
{
    from
    {
        width: 0;
    }
    to
    {
        width: 35rem;
    }
}

@keyframes blinkTextCursor {
    from {
      border-right-color: hsl(0, 0%, 80%);
    }
    to {
      border-right-color: transparent;
    }
  }
/* Media Screen/Mobile */
@media screen  and (max-width: 1264px){
    .flipr-img {
        width: auto;
        height: auto;
    }
}


  @media screen and (max-width: 960px) {

    .h-content {
        width: 100vw;
        height: 100%;
    }
    .container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        padding-top: 0;
        height: 100%;
    }
    .project-cont {
        height: 100vw;
        width: 100vw;
    }
    .project-info {
        width: 100vw;
    }
    .p-desc {
        width: 80vw;
        margin-left: 10vw;
        text-align: center;
        word-wrap: break-word;
    }
    .project-samples {
        text-align: center;
        height:10vw;
    }
    .project {
        display: block;
        width: 100vw;
        margin-top: 20vh;
        text-align: center;
    }
    .flipr-img {
        width: 300px;
        height: 600px;
    }
    .project-info2 {
        width: 100vw;
        text-align: center;
        display: flex;
        justify-content: center;
    }
    .p-desc2 {
        text-align: center;
        width: 80vw;
        margin-right: 10vw;
        word-wrap: break-word;
    }
    .project-cont2 {
        height: 100vw;
        width: 100vw;
        text-align: center;
        display: block;
        padding-bottom: 15vw;
    }
    .project-header2 {
        display: none;
    }

    .project2 {
        width: 100vw;
        text-align: center;
    }
  }