@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

.body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 2vw;
    margin-left: 4vw;
    font-family: 'Anonymous Pro';
}
.bold-text {
    font-weight: bolder;
}


.body li {
    list-style-type: '♠️';
    padding-inline-start: 1ch;
  }
